<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess and Gamble</title>
</head>
<body>
    <h1>Gamble Your Patience Away</h1>
    <p>Psst. It's me, the programmer. Would you like to view the game instructions?</p>
    <form method="POST">
        <label for="instruction_answer">y/n:</label>
        <input type="text" name="instruction_answer" id="instruction_answer" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
