chatgpt aint got nothin on me 
<p>(This game is best played with a pencil and paper in hand. Please do not look up any words. That is cheating!)
(Input is case-sensitive, and sensitive to SPACES and OTHER CHARACTERS!
The computer is also extremely obnoxious and I hate him.)
(Sometimes, you are given the chance to gamble some points for an extra hint.
As you use more hints in a round, the points you earn back are reduced if you succeed.)
(Points earned back from wagering are protected from this.)</p>

proceed? [put a button here maya]
